# Assessment 6
# Download the dataset from here - 
https://drive.google.com/file/d/1ImaH86yB0PYf9x3RTYTCLr3zUPAE6Tjg/view?usp=sharing

### 1. Import Startup Dataset and store it in pandas dataframe
* you can download the dataset from here

In [28]:
import pandas as pd

df = pd.read_csv('data.csv',encoding="utf-8")

### 2. Print the column names and datatypes of every column

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3044 non-null   int64
 1   Sr No             3044 non-null   int64
 2   Date              3044 non-null   object
 3   StartupName       3044 non-null   object
 4   IndustryVertical  2873 non-null   object
 5   SubVertical       2108 non-null   object
 6   CityLocation      2864 non-null   object
 7   InvestorsName     3020 non-null   object
 8   InvestmentnType   3040 non-null   object
 9   AmountUSD         2077 non-null   object
 10  Remarks           419 non-null    object
dtypes: int64(2), object(9)
memory usage: 261.7+ KB

### 3. Print last 10 rows in the dataframe

In [33]:
df.tail(10)

,Unnamed: 0,Sr No,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD,Remarks
3034,3034,3035,1/24/2015,Aasaanjobs,NaN,NaN,NaN,"Inventus Capital Partners, IDG Ventures",Seed Funding,"15,00,000",NaN
3035,3035,3036,1/24/2015,Impartus,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN,Series A
3036,3036,3037,1/25/2015,Thrill App,NaN,NaN,NaN,People Group (Shaadi.com),Private Equity,"10,00,000",Strategic Funding
3037,3037,3038,1/27/2015,CarDekho.com,NaN,NaN,NaN,"Hillhouse Capital, Tybourne Capital",Private Equity,"5,00,00,000",Series B
3038,3038,3039,1/28/2015,Grabhouse.com,NaN,NaN,NaN,"Kalaari Capital, Sequoia Capital",Private Equity,"25,00,000",Series A
3039,3039,3040,1/29/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3040,3041,1/29/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3041,3042,1/30/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3042,3043,1/30/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3043,3044,1/31/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

### 4. Remove column Sr No, Remarks columns and print first 10 rows

In [52]:
df.columns = df.columns.str.replace(' ', '')
df.drop(['SrNo'], axis=1, inplace=True)

,Unnamed:0,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD
0,0,9/1/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,1,1/13/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,2,9/1/2020,Mamaearth,eCommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,3,2/1/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,4,2/1/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...,...
3039,3039,1/29/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000"
3040,3040,1/29/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000"
3041,3041,1/30/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000"
3042,3042,1/30/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3043,3043,1/31/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000"

In [54]:
df.head(10)

,Unnamed:0,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD
0,0,9/1/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,1,1/13/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,2,9/1/2020,Mamaearth,eCommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,3,2/1/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,4,2/1/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
5,5,1/13/2020,Pando,Logistics,"Open-market, freight management platform",Chennai,Chiratae Ventures,Series A,"90,00,000"
6,6,10/1/2020,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,Ant Financial,Private Equity Round,"15,00,00,000"
7,7,12/12/2019,Ecozen,Technology,Agritech,Pune,Sathguru Catalyzer Advisors,Series A,"60,00,000"
8,8,6/12/2019,CarDekho,eCommerce,Automobile,Gurgaon,Ping An Global Voyager Fund,Series D,"7,00,00,000"
9,9,3/12/2019,Dhruva Space,Aerospace,Satellite Communication,Bengaluru,"Mumbai Angels, Ravikanth Reddy",Seed,"5,00,00,000"

### 5. Check for Null Values and remove all rows containing null values

In [66]:
nan_rows = df[df.isna().any(axis=1)]
lst_row_nan = nan_rows.index.values.astype(int)
df.drop(lst_row_nan, axis=0, inplace=True)

In [67]:
df

,Unnamed:0,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD
0,0,9/1/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,1,1/13/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,2,9/1/2020,Mamaearth,eCommerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,3,2/1/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,4,2/1/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...,...
2098,2098,1/29/2016,Qriyo,Consumer Internet,Online Fitness & Educational information Aggre...,Jodhpur,Idein Ventures,Seed Funding,"1,60,000"
2100,2100,1/29/2016,Aisle,Consumer Internet,Indians focused Matchmaking App,Bengaluru,"TermSheet, ah! Ventures",Seed Funding,"1,85,000"
2101,2101,1/29/2016,FreshMenu,Consumer Internet,Fresh Food Delivery platform,Bengaluru,"Zodius Technology Fund, Lightspeed Venture Par...",Private Equity,"1,70,00,000"
2102,2102,1/29/2016,Truebil,eCommerce,Online marketplace for cars,Mumbai,"Kalaari Capital, Inventus Capital, Tekton Vent...",Private Equity,"51,50,000"
2103,2103,1/29/2016,Rare Media,Technology,Mobile & Cloud based App developer,New Delhi,Info Edge (India) Ltd,Private Equity,"11,00,000"

### 6. Convert Date column datatype into date datatype

In [107]:

pd.to_datetime(df['Date'])

0      2020-09-01
1      2020-01-13
2      2020-09-01
3      2020-02-01
4      2020-02-01
          ...
2098   2016-01-29
2100   2016-01-29
2101   2016-01-29
2102   2016-01-29
2103   2016-01-29
Name: Date, Length: 1399, dtype: datetime64[ns]

### 7. Print count of Unique values in IndustryVertical and InvestmentType columns

In [87]:
a = len(pd.unique(df['IndustryVertical']))
b = len(pd.unique(df['InvestmentnType']))
print(f"count of Unique values in IndustryVertical : {a} And count of Unique values in InvestmentType :  {b}")

count of Unique values in IndustryVertical : 89 And count of Unique values in InvestmentType :  45

### 8. Print Count of CityLocation for all unique city locations
* eg: Banglore 5
* Mumbai 25

In [104]:
df_gpby_count = df['CityLocation'].value_counts()
df_gpby_count

Bengaluru     442
Mumbai        277
Gurgaon       174
New Delhi     161
Chennai        60
             ...
California      1
India           1
Rourkela        1
Bhubneswar      1
Jodhpur         1
Name: CityLocation, Length: 65, dtype: int64

### 9. Convert Amount USD into numeric type and store it in NewAmountUSD

In [155]:
pd.to_numeric(df['AmountUSD'].str.replace(',',''))

ValueError: Unable to parse string "14342000+" at position 99

### 10. Print Average AmountUSD for each InvestmentType
* Hint- use group by

In [161]:
nd = df.groupby('InvestmentnType')
for type,type_d in nd:
    print(f"{type} : {type_d['AmountUSD'].astype(int).mean()}")

ValueError: invalid literal for int() with base 10: '1,45,000'

### 11. Print the dataframe sorted according to AmountUSD column descending order

In [168]:
result = df['AmountUSD'].sort_values()
result

31      1,00,00,00,000
1552       1,00,00,000
321        1,00,00,000
435        1,00,00,000
984        1,00,00,000
             ...
549          92,00,000
529          92,00,000
1040            94,000
460          95,00,000
325          97,00,000
Name: AmountUSD, Length: 1399, dtype: object

### 12. Print all Startup  Names containing 'S'


### 13. Print all startup names starting with "S"

In [170]:
df[df['StartupName'].str.contains("S")]

,Unnamed:0,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD
0,0,9/1/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,1,1/13/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
9,9,3/12/2019,Dhruva Space,Aerospace,Satellite Communication,Bengaluru,"Mumbai Angels, Ravikanth Reddy",Seed,"5,00,00,000"
19,19,11/13/2019,Sunstone Eduversity Pvt. Ltd,Education,Elearning,Gurgaon,"Prime Venture Partners, LetsVenture, PS1 Ventu...",Seed,"15,00,000"
24,24,12/11/2019,SuperGaming,Video Games,Social gaming platform,Pune,Dream Incubator,Seed Funding,"13,00,000"
...,...,...,...,...,...,...,...,...,...
2079,2079,1/22/2016,SnapBizz,eCommerce,Mobile based Retail Market Ecosystem,Bengaluru,"Jungle Ventures, Taurus Value Creation, Konly ...",Private Equity,"72,00,000"
2082,2082,1/22/2016,Silvan,Technology,Home Automation & Security Solutions,Bengaluru,The Chennai Angels,Seed Funding,"5,15,000"
2083,2083,1/22/2016,EPS,Technology,Electronic Payments Solution Company,Mumbai,APIS Partners,Private Equity,"3,50,00,000"
2086,2086,1/25/2016,SIFTR Labs,Consumer Internet,Photography curation & Aggregator platform,Mumbai,Venture Catalysts,Seed Funding,"1,50,000"
2087,2087,1/25/2016,Power2SME,Consumer Internet,SME Online Buying Hub,Gurgaon,"Nandan Nilekani, Accel Partners, Kalaari Capit...",Private Equity,"2,10,00,000"

In [173]:
df[(df['StartupName'].str)[0]=='S']

,Unnamed:0,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD
1,1,1/13/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
19,19,11/13/2019,Sunstone Eduversity Pvt. Ltd,Education,Elearning,Gurgaon,"Prime Venture Partners, LetsVenture, PS1 Ventu...",Seed,"15,00,000"
24,24,12/11/2019,SuperGaming,Video Games,Social gaming platform,Pune,Dream Incubator,Seed Funding,"13,00,000"
90,90,6/5/2019,Saahas Zero Waste,Waste Management Service,Optimization,Bengaluru,C4D Partners,Venture - Series Unknown,"8,68,600"
103,103,11/4/2019,Setu,Fintech,Banking,Bengaluru,Lightspeed India Partners,Seed Funding,"35,00,000"
...,...,...,...,...,...,...,...,...,...
2058,2058,1/19/2016,Swiggy,Consumer Internet,Online/Mobile food ordering platform,Bengaluru,"Harmony Partners, RB Investments & existing in...",Private Equity,"3,50,00,000"
2077,2077,1/22/2016,ShabdaNagari,Consumer Internet,Hindi Language Social Networking Portal,Kanpur,Kanpur Angels & Others,Seed Funding,"2,00,000"
2079,2079,1/22/2016,SnapBizz,eCommerce,Mobile based Retail Market Ecosystem,Bengaluru,"Jungle Ventures, Taurus Value Creation, Konly ...",Private Equity,"72,00,000"
2082,2082,1/22/2016,Silvan,Technology,Home Automation & Security Solutions,Bengaluru,The Chennai Angels,Seed Funding,"5,15,000"
2086,2086,1/25/2016,SIFTR Labs,Consumer Internet,Photography curation & Aggregator platform,Mumbai,Venture Catalysts,Seed Funding,"1,50,000"